<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>My Market Place</title>
    <link rel="stylesheet" href="public/style.css">
</head>
<body>
    <header>
        <ul id="nav">
            <li id="logo"><h1>Logo</h1></li>
            <li id="search">
                <form>
                    <input type="search" id="recherche" name="recherche">
                    <button>Search</button>
                </form>
            </li>
            <li id="header-right">
                <ul>
                    <li id="profil"><a href="">Profil</a></li>
                    <li id="panier"><a href="">Panier</a></li>
                </ul>
            </li>
        </ul>        
    </header>


    <div>
        <h1>Welcome to my Market Place</h1>
    </div>
</body>
</html>