<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>My Market Place</title>
    <link rel="stylesheet" href="public/index.css">
</head>
<body>
    <section>
        <h1>Logo</h1>
        <form>
            <div>
                <label for="email">Email :</label>
                <input type="text" name="email" id="email" required>
            </div>
            <div>
                <label for="mdp">Mot de passe :</label>
                <input type="password" name="mdp" id="mdp" required>
            </div>
            <button>Connect</button>
        </form>
    </section>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.2.6/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
        https://firebase.google.com/docs/web/setup#available-libraries -->

    <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyAQ0dpk5yE4kKgzJBevGuyAZilG4xQS2Ps",
        authDomain: "kitschminyof-tp-info802.firebaseapp.com",
        databaseURL: "https://kitschminyof-tp-info802-default-rtdb.europe-west1.firebasedatabase.app",
        projectId: "kitschminyof-tp-info802",
        storageBucket: "kitschminyof-tp-info802.appspot.com",
        messagingSenderId: "82376152136",
        appId: "1:82376152136:web:9989b521bb24d3cd87347d"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    </script>
</body>
</html>