<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>My client</title>
</head>
<body>
    <h1>Client test</h1>
    <ul>
        <li><a href="./testSoap.ejs">service web soap</a></li>
        <li><a href="./testGraphQL">service graphQL</a></li>
        <li><a href="./testREST">service rest</a></li>
    </ul>
</body>
</html>