<%- include('header.ejs') %>
<%- include('menu.ejs') %>

<section>
    <form action='saveSell' method="POST">
        <div>
            <label for="">Name :</label>
            <input type="text" name="name" id="name" value="L'epouventeur" required>
        </div>
        <div>
            <label for="">Title :</label>
            <input type="text" name="title" id="title" value="L'apprenti-epouvanteur" required>
        </div>
        <div>
            <label for="">Author :</label>
            <input type="text" name="author" id="author" value="Joseph Delaney" required>
        </div>
        <div>
            <label for="">Price :</label>
            <input type="number" name="price" id="price" value="4" required>
        </div>
        <div>
            <label for="">Weight :</label>
            <input type="number" name="weight" id="weight" value="0.5" required>
        </div>
        <div>
            <label for="">Picutre link :</label>
            <input type="text" name="pictureLink" id="pictureLink" value="non" required>
        </div>
        <input type="submit" value="Sell">
    </form>
</section>

<%- include('footer.ejs') %>