<%- include('header.ejs') %>
<%- include('menu.ejs') %>

<section>
    <form action='saveSell' method="POST">
        <div>
            <label for="">Name :</label>
            <input type="text" name="name" id="name" value="Harry Potter" required>
        </div>
        <div>
            <label for="">Title :</label>
            <input type="text" name="title" id="title" value="à l'école des sorciers" required>
        </div>
        <div>
            <label for="">Author :</label>
            <input type="text" name="author" id="author" value="J.K Rowling" required>
        </div>
        <div>
            <label for="">Price :</label>
            <input type="number" name="price" id="price" value="8" required>
        </div>
        <div>
            <label for="">Weight :</label>
            <input type="number" name="weight" id="weight" value="615" required>
        </div>
        <div>
            <label for="">Picutre link :</label>
            <input type="text" name="pictureLink" id="pictureLink" value="http://image.noelshack.com/fichiers/2021/11/7/1616281874-81yfvu4r46l.jpg" required>
        </div>
        <input type="submit" value="Sell">
    </form>
</section>

<%- include('footer.ejs') %>