* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body{
    height: 100%;
    min-height: 80%;
    min-width: 80%;
    background-color:#3C2C28;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
}

header{
    overflow: hidden;
    width: 100%;
    list-style: none;
    text-decoration: none;
}

ul#nav li{
    display: inline; 
    margin-bottom: 10px;
    margin-top: 10px;
    height: 100%;
}

ul#nav li#logo{
    float: left;
    padding-left: 5%;
}

ul#nav li#search{
    float: left;
    margin-left: 8%;
    width: 50%;
    padding-top: 0.5em;
}

ul#nav li#search input{
    height: 3em;
    width: 80%;
}

ul#nav li#header-right{
    float: right;
    width: 30%;
}

ul#nav li#header-right ul li{
    display: inline;
}

ul#nav li#panier{
    margin-left: 2em;
    padding: 10px;
    font-size: 2em;
    float: left;
    background-color: chartreuse;
    border-radius: 20% 20% 0% 0%;
}

ul#nav li#profil{
    margin-right: 2em;
    padding: 10px;
    float: right;
    font-size: 2em;
    background-color: yellow;
    border-radius: 20% 20% 0% 0%;
}

a{
     text-decoration: none;
}
